{% extends 'login/base.html' %}

{% block title %}
    {{inventorymaterial.uniqueId | default:"找不到指定的物料"}}
{% endblock %}

{% block content %}
    <div class="container" align=center>
        <div class="col-md-4 col-md-offset-4">
            {% if inventorymaterial %}
                <table class="table table-striped">
                <tr><td align=center>编号:{{inventorymaterial.id}}</td></tr>
                <tr><td align=center>唯一识别码:{{inventorymaterial.uniqueId}}</td></tr>
                <tr><td align=center>库存数量:{{inventorymaterial.amount}}</td></tr>
                <tr><td align=center>详细信息:{{inventorymaterial.description}}</td></tr>
                <tr><td align=center>采购人员:{{inventorymaterial.userPurchase}}</td></tr>
                <tr><td align=center><img src='{{inventorymaterial.image.url}}' height="100" ></td></tr>
            </table>
            {% else %}
            <h2>找不到指定的产品</h2>
            {% endif %}
        </div>
    </div> <!-- /container -->
{% endblock %}