{% extends 'login/base.html' %}

{% block title %}物料库存表{% endblock %}

{% block content %}
    {% csrf_token %}

    <div class="container">
        <h3>库存总数:{{ total_amount }}</h3>
        <div style="margin-top: 30px;margin-right: 830px;">
             <form method="get" action="." class="form-search" style="height:50px;">
                 <input type="search" placeholder="按UniqueID或中文描述或库存搜索" name="q" style="height:35px;width:200px;">
                 <button type="reset" class="btn btn-default pull-left">重置</button>
                 <button type="submit" class="btn btn-primary pull-right">提交</button>
             </form>
        </div>
        <div class="head" >
            <ul class="tab_header" id="search" >
                <li class="{% if sort == '' %}active{% endif %}" style="float: left;"><a href="?q={{q}}">按编号排序</a></li>
                <li class="{% if sort == 'uid' %}active{% endif %}" style="float: left;"><a href="?sort=uid&q={{q}}">按唯一识别码排序</a></li>
                <li class="{% if sort == 'amountincrease' %}active{% endif %}" style="float: left;"><a href="?sort=amountincrease&q={{q}}">按库存递增排序</a></li>
                <li class="{% if sort == 'amountdecrease' %}active{% endif %}" style="float: left;"><a href="?sort=amountdecrease&q={{q}}">按库存递减排序</a></li>
            </ul>
        </div>

        {% for im in inventorymaterials %}
            {% if forloop.first %}
            <table class="table table-striped">
                <tr>
                    <th>编号</th>
                    <th>唯一识别码</th>
                    <th>库存数量</th>
                    <th>详细信息</th>
                    <th>采购人</th>
                    <th>采购价(rmb)</th>
                    <th>物料图片</th>
                </tr>
            {% endif %}
                <td>{{im.id}}</td>
                <td><a href='{% url "inventoryDetail-url" im.id %}'>{{im.uniqueId}}</td>
                <td>{{im.amount}}</td>
                <td>{{im.description}}</td>
                <td>{{im.userPurchase}}</td>
                <td>{{im.price}}</td>
                <td><img src='{{im.image.url}}' height="50" ></td></tr>
            {% if forloop.last %}
            </table>
            {% endif %}
            {% empty %}
            <h3>还没有添加库存信息,请点击增加物料</h3><!--这里可以把后几个字变成超链接,到添加页面-->
        {%endfor%}
        
<nav aria-label="Page navigation">
  <ul class="pagination">

    {% if inventorymaterials.has_previous %}
        <li><a href="?page={{ inventorymaterials.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">上一页</span></a></li>
    {% else %}
            <li class="disabled"><a href="" aria-label="Previous"><span aria-hidden="true">上一页</span></a></li>
    {% endif %}    

    {% for i in pageRange %}
         {% if current_num == i %}
          <li class="active"><a href="?page={{ i }}">{{ i }}</a></li>

         {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
         {% endif %}
    {% endfor %}


    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
    </div>

{% endblock %}