{% extends 'login/base.html' %}

{% block title %}出库记录表{% endblock %}
{% block css %}
<style>
th {font-size:20px;}
</style>
{% endblock %}
{% block content %}
    <div class="container">
        {% for outstock in outstocks %}
            {% if forloop.first %}
            <table class="table table-striped">
                <tr>
                    <th>编号</th>
                    <th>出库人</th>
                    <th>出库时间</th>
                    <th>详细信息</th>
                    <th>总重量</th>
                    <th>总体积</th>
                    <th>总运费</th>
                </tr>
            {% endif %}
                <tr>
                    <td><a href='{% url "outStockDetail-url" outstock.id %}'>{{outstock.code}}</a></td>
                    <td>{{outstock.userOutstock}}</td>
                    <td>{{outstock.c_time}}</td>
                    <td>{{outstock.description}}</td>
                    <td>{{outstock.total_weight}}<span>kg</span></td>
                    <td>{{outstock.total_volume}}<span>m<sup>3</sup></span></td>
                    <td><span>¥</span>{{outstock.total_freightfee}}</td>
                </tr>
            {% if forloop.last %}
            </table>
            {% endif %}
            {% empty %}
            <h3>还没有添加出库信息</h3><!--这里可以把后几个字变成超链接,到添加页面-->
        {% endfor %}
    </div>
{% endblock %}