{% extends 'login/base.html' %}

{% block title %}
    {{outstock.code | default:"找不到指定的对象"}}
{% endblock %}

{% block content %}
    <div class="container" align=center>
        <div class="col-md-4 col-md-offset-4">
            {% if outstock %}
                <table class="table table-striped">
                <tr><td align=center>编号:{{outstock.code}}</td></tr>
                <tr><td align=center>出库时间:{{outstock.c_time}}</td></tr>
                <tr><td align=center>出库人:{{outstock.userOutstock}}</td></tr>
                <tr><td align=center>详细信息:{{outstock.description}}</td></tr>
                </table>
            {% else %}
            <h2>找不到指定的产品</h2>
            {% endif %}
        </div>
        <div >
            <table class="table table-striped" >
                {% for item in outitems %}
                {% if forloop.first %}
                <table class="table table-striped">
                    <tr>
                        <th>站点</th>
                        <th>SKU</th>
                        <th>出库数量</th>
                        <th>DHL Shipping Fee</th>
                        <th>合计运费</th>
                    </tr>
                {% endif %}
                    <tr>
                        <td>{{ item.siteinput }}</td>
                        <td>{{ item.productName }}</td>
                        <td>{{ item.amountOut }}</td>
                        <td>{{ item.dhlshippingfeeInput}}</td>
                        <td>{{ item.totalfee}}</td>
                    </tr>
                {% if forloop.last %}
                </table>
                {% endif %}
            {% empty %}
            <h3>没有出库信息</h3>
            {% endfor %}
        
        </div>
    </div> <!-- /container -->
{% endblock %}