{% extends 'login/base.html' %}

{% block title %}搜索测试{% endblock %}

{% block css %}
<style type="text/css">
    .changestyle{color:red;font-weight:600;}
</style>
{% endblock %}

{% block content %}
    <div class="bar bar-header-secondary" style="top:0">
        <div class="searchbar">
            <a class="searchbar-cancel">取消</a>
            <div class="search-input">
                <label class="icon icon-search" for="search"></label>
                <input type="text" id="txtSearch" onChange="txtSearch()" placeholder="输入关键字...">
            </div>
        </div>
    </div>
    
    <div class="content" id="divMain" style="top:2.2em">
        <div class="card">
            <div class="card-header><div>富民青泉假有限公司</div> <span>530124210342</span></div>
            <div class="card-content-inner">
                客户经理:卢燕洲<br>
                负责人:张仕城 <a href="tel:13187876969">12345698711</a>
                <br>
                地址:富民县东村镇乐在村委会乐在村张仕城
                <br>
                客户分档:二档
            </div>
        </div>
        <div class="card">
            <div class="card-header><div>阿里巴巴有限公司</div> <span>530124210342</span></div>
            <div class="card-content-inner">
                客户经理:马云<br>
                负责人:阿里巴巴 <a href="tel:13187876969">12345698711</a>
                <br>
                地址:浙江杭州创立的公司交易所
                <br>
                客户分档:一档
            </div>
        </div>
        <div class="card">
            <div class="card-header><div>京东有限公司</div> <span>530124210342</span></div>
            <div class="card-content-inner">
                客户经理:刘强东<br>
                负责人:奶茶妹妹 <a href="tel:13187876969">12345698711</a>
                <br>
                地址:富民县美国纳斯达克证券交易所
                <br>
                客户分档:三档
            </div>
        </div>
    </div>




{% endblock %}


{% block on_ready %}
    function txtSearch()
    {
         //遍历移除b标签，防止第二次搜索bug
        $(".changestyle").each(function()
        {
            var xx=$(this).html()
            $(this).replaceWith(xx);
        });
         //整个客户信息div
         var str=$("#divMain").html();
         //文本输入框
         var txt=$("#txtSearch").val()
         //$.trim 删除字符串开始和末尾的空格
         if ($.trim(txt)!="")
         {
            //定义b标签样式红色加粗
            var re="<b class='changestyle'>"+txt+"</b>";
            //替换搜索相关的所有内容,将str对象中,匹配txt的字符串,替换成re
            //new RegExp(pattern, attributes); 匹配字符串,pattern指定正则表达式的模式,attr包含g,i,m,指定全局匹配,指定大小写和多行匹配
            var nn=str.replace( new RegExp(txt,"gm"),re);
            //赋值
            $("#divMain").html(nn);
             //显示搜索内容相关的div
             $(".card").hide().filter(":contains('"+txt+"')").show();
         }
         else
         {
            $(".card").show();
         }
    
    }

{% endblock %}