{% extends 'login/base.html' %}
{% block title %}产品批量修改{% endblock %}

{% block content %}
<div class="container">
        <div class="col-md-6 col-md-offset-3">
          <form name="uploadmaterial-form" class='form-uploadfiles' action="." method="post" enctype="multipart/form-data">

              {% if message %}
                  <div class="alert alert-warning">{{ message }}</div>
              {% endif %}

              {% csrf_token %}
              <h1>批量修改产品信息</h1>

              <label for="c_time">修改时间:</label>
              <input for="c_time" type="text" name="c_time" value="{{date}}" readonly="readonly"/><br> 
              <label for="user">修改人:</label>
              <input type="text" name="user" value="{{user}}" readonly="readonly"/></br>

              <p>注意:excel中,site不可修改,sku为检索依据,不需要修改的属性请清空.</p>
              选择上传文件:<input type="file" name="files"></br>
              <button type="reset" class="btn btn-default pull-left">重置</button>
              <button type="submit" class="btn btn-primary pull-right">提交</button>
          </form>
        </div>
</div>


{% endblock %}