{% extends 'login/base.html' %}
{% block title %}产品批量出库{% endblock %}

{% block content %}
<div class="container">
        <div class="col-md-6 col-md-offset-3">
          <form name="uploadmaterial-form" class='form-uploadfiles' action="." method="post" enctype="multipart/form-data">

              {% if message %}
                  <div class="alert alert-warning">{{ message }}</div>
              {% endif %}

              {% csrf_token %}
              <h1>批量出库产品</h1>
              <label for="code">出库编号:</label>
              <input id="code" type="text" name="code"/><span>&nbsp;&nbsp;&nbsp;&nbsp;Last Code:{{lastcode}}</span></br>
              <label for="description">出库信息:</label>
              <input for="description" type="text" name="description"/><br> 
              <label for="c_time">出库时间:</label>
              <input for="c_time" type="text" name="c_time" value="{{date}}" readonly="readonly"/><br>
              <label for="user">出库人:</label>
              <input type="text" name="user" value="{{user_obj.name}}" readonly="readonly"/></br>
              <p></p>
              选择上传文件:<input type="file" name="files"></br>
              <button type="reset" class="btn btn-default pull-left">重置</button>
              <button type="submit" class="btn btn-primary pull-right">提交</button>
          </form>
        </div>

</div>
{% endblock %}